<header class="header">
  <div class="header__content">
    <a routerLink="">
      <img alt="logo" src="assets/logo.svg" />
    </a>

    <div *ngIf="!isAuth; else loggedIn">
      <div class="header__btn-group">
        <button class="btn btn-primary" (click)="showLoginModal()">
          Войти
        </button>
        <button class="btn btn-primary" (click)="showRegistrationModal()">
          Регистрация
        </button>
      </div>
    </div>
    <ng-template #loggedIn>
      <a
        [routerLink]="['/nomenclature']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__menu--link"
      >
        <div class="header__menu--item">
          <div class="header__menu--circle">1</div>
          <p class="header__menu--title">Номенклатура</p>
        </div>
      </a>

      <a
        [routerLink]="['/rules']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__menu--link"
      >
        <div class="header__menu--item">
          <div class="header__menu--circle">2</div>
          <p class="header__menu--title">Правила упаковки</p>
        </div>
      </a>

      <a
        [routerLink]="['/calculations']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__menu--link"
      >
        <div class="header__menu--item">
          <div class="header__menu--circle">3</div>
          <p class="header__menu--title">Расчёты</p>
        </div>
      </a>
      <div
        class="header__popover-wrapper"
        (mouseenter)="showPopover = true"
        (mouseleave)="showPopover = false"
      >
        <div class="header__popover-container">
          <div class="header__btn-group">
            <div class="header__login--name">{{ user?.email }}</div>
            <span class="pi pi-user header__icon"></span>
          </div>

          <div class="header__popover" [ngClass]="{ visible: showPopover }">
            <button
              (click)="showChangePasswordModal()"
              class="header__popover-button link"
            >
              Изменить пароль
            </button>

            <div class="header__divider"></div>
            <button (click)="logout()" class="header__popover-button link">
              Выйти
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</header>
