<header class="header">
  <div class="header__content">
    <a routerLink="">
      <img alt="logo" src="assets/logo.svg" />
    </a>

    @if (!isAuth) {
    <div class="header__btn-group">
      <button class="btn btn-primary" (click)="showLoginModal()">Войти</button>
      <button class="btn btn-primary" (click)="showRegistrationModal()">
        Регистрация
      </button>
    </div>
    } @if (isAuth) {
    <div class="header__btn-group">
      <button class="btn btn-primary" (click)="logout()">Выйти</button>
    </div>
    }
  </div>
</header>
