.modal {
  max-width: 480px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700 !important;
    font-size: 23px !important;
    line-height: 28px;
    letter-spacing: 1px;
    color: var(--typography-blue);
  }
  &__label {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: var(--typography-1);
  }

  &__field {
    position: relative;
    min-width: 384px;
    width: 100%;
  }
  &__field-error {
    position: absolute;
    bottom: -19px;
    font-size: 12px;
    color: var(--typography-error);
  }
  &__use-default {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 12px;
    align-items: center;
  }
  &__no-accaunt {
    margin: 16px auto 0px auto;
  }
  &__size-input {
    display: flex;
    align-items: center;
    max-width: 118px;
    width: 100%;
    gap: 8px;
  }
  &__size-wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer--copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    &:hover {
      color: var(--primary-hover);
    }
  }
  &__footer--delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
  }

  &__fragility--text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
  }
  &__btn {
    width: 100%;
    margin-bottom: 22px;
  }
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.modal__fragility--text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.fragility-labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #888;
  margin-top: 0.5rem;
}
