<!-- Шапка -->
<h2 class="modal__title" mat-dialog-title>Регистрация</h2>

<!-- Основной контент -->
<mat-dialog-content>
  <div class="modal__modal-content">
    <form [formGroup]="form" style="width: 100%">
      <div class="modal__field-wrapper">
        <label for="contact_info">Email</label>
        <input
          pInputText
          placeholder="Email"
          formControlName="contact_info"
          id="contact_info"
        />
        @if(form.controls.contact_info.errors &&
        form.controls.contact_info.dirty) {
        <span class="modal__field-error">
          {{ form.controls.contact_info.errors | errorFormText }}
        </span>
        }
      </div>

      <div class="modal__field-wrapper">
        <label for="password">Пароль</label>
        <input
          pInputText
          placeholder="Пароль"
          formControlName="password"
          id="password"
          type="password"
        />
        @if(form.controls.password.errors && form.controls.password.dirty) {
        <span class="modal__field-error">
          {{ form.controls.password.errors | errorFormText }}
        </span>
        }
      </div>

      <div class="modal__field-wrapper">
        <label for="repeatPassword">Подтвердите пароль</label>
        <input
          pInputText
          placeholder="Пароль"
          formControlName="repeatPassword"
          id="repeatPassword"
          type="repeatPassword"
        />
        @if(form.controls.repeatPassword.errors &&
        form.controls.repeatPassword.dirty) {
        <span class="modal__field-error">
          {{ form.controls.repeatPassword.errors | errorFormText }}
        </span>
        }
      </div>
    </form>
  </div>
</mat-dialog-content>

<!-- Блок кнопок -->
<mat-dialog-actions>
  <div class="modal__actions">
    <button
      class="btn btn-primary modal__btn"
      (click)="submit()"
      [disabled]="form.invalid || loading"
    >
      Зарегистрироватья
    </button>
  </div>
</mat-dialog-actions>
