@import './app/styles/material.scss';
@import './app/styles/prime-ng.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  height: 100%;
  color: var(--typography-1);
  font-size: 14px;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
.app-container {
  //max-width: 1780px;
  background-color: var(--background-3);
}

a:active,
a:hover,
a {
  text-decoration: none;
}

h1 {
  color: var(--typography-1);
  font-size: 20px;
}

h2 {
  color: var(--typography-1);
  font-size: 14px;
  font-weight: 500;
}

b {
  font-weight: 500;
}

ul {
  margin-left: 0px;
  list-style-type: none;
}

html {
  --background-1: #012464;
  --background-2: #ffffff;
  --background-3: #f4f8ff;
  --background-4: #1f4282;
  --background-5: #e0e0e0;
  --typography: #212121d9;
  --typography-1: #212121;
  --typography-2: #21212180;
  --typography-error: #991b1b;
  --typography-red: #c70000;
  --primary: #012464;
  --primary-btn: #e0ebff;
  --icon-hover: #153878;
  --main-btn: #d1e1ff;
  --primary-hover: #012464;
  --primary-focus: #012464;
  --disabled: #9a9ea5;
  --black: #212121;
  --typography-white: #ffffff;
  --typography-blue: #012464;
  --gray: #21212180;
}

.link {
  color: #2962ffd8;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}
.icon {
  color: var(--primary);
  cursor: pointer;
  transition: stroke 0.3s ease;
  &:hover {
    color: var(--icon-hover);
  }
}
.btn-link {
  color: var(--primary);
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}

.btn {
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  transition-duration: 1s;
  font-size: 14px;
  line-height: 27px;
  font-weight: 500;
}

.btn-primary {
  border: 1px solid var(--primary);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--primary);
  background-color: var(--primary-btn);
  padding: 8px 9px 8px 9px;
  border-radius: 8px;
  //transition: all 500ms ease;
  &:hover {
    color: var(--typography-white);
    background-color: var(--primary-hover);
  }
  /*   &:focus {
    color: var(--typography-white);
    background-color: var(--primary-focus);
  } */
  &:disabled {
    color: var(--disabled);
    background-color: var(--background-5);
    border: 1px solid var(--disabled);
  }
}

.btn-plain {
  border: 1px solid;
  font-weight: 400;
  color: var(--typography-blue);
  background-color: var(--primary-btn);
  border-color: var(--primary);
  transition: all 500ms ease;
  &:hover {
    color: var(--typography-blue);
    background-color: var(--primary-btn);
    border-color: var(--primary);
  }
  &:focus {
    color: var(--typography-white);
    border-color: var(--primary);
    background-color: var(--primary);
  }
  &:disabled {
    color: var(--typography-2);
    background-color: transparent;
    border-color: transparent;
  }
}
.custom-scroll::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 12px;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
.cursor-pointer {
  cursor: pointer;
}
.no-cursor {
  cursor: default;
}
::-webkit-scrollbar {
  width: 0;
}
.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.column {
  display: flex;
  flex-direction: column;
}

/* Цвет рамки при наведении мыши
.q-field__control:hover::before {
  border-color: green !important;
} */

/* Цвет рамки при фокусе */
.q-field--focused .q-field__control {
  color: var(--primary) !important;
}
.q-expansion-item__container .q-item {
  padding: 0px;
}
.q-expansion-item__container .q-item__section--side {
  padding-right: 0px;
}
.narrow {
  & .q-field__control {
    height: 34px;
  }
}
.h-middle {
  & .q-field__control {
    height: 40px;
  }
}
.red {
  color: #ff8172;
}
.yellow {
  color: #ffc321;
}
.gray-btn {
  color: var(--gray);
}
.blue-btn {
  color: #075988;
}

.t-tab__item {
  font-weight: 700;
  color: var(--gray);
  min-width: 90px;
  height: 28px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  &:hover {
    color: var(--primary);
  }
  &:focus {
    color: var(--primary);
  }
  &:disabled {
    color: var(--gray);
  }
}

button {
  box-shadow: none;
  border: none;
}
.q-field--outlined .q-field__control {
  border-radius: 8px !important;
}
.q-field--outlined .q-field__control {
  height: 46px !important;
}
.no-select {
  user-select: none;
}
.custom-file-input {
  display: none;
}
